django
pillow
pip install paypalrestsdk
pip install django-paypal
pip install -U django-jazzmin








# Last worked on survey on new app 


last night - did till survay crrate ui page 

tommror - complete pending button fix 